<% include ../partials/header %>

<h1><%= amp.name %></h1>

<img src="<%= amp.image %>">

<p><%= amp.description %></p>

<p>
  <a class="btn btn-success" href="/amps/<%= amp._id %>/comments/new">Add New Comment</a>
</p>

<% amp.comments.forEach(function(comment){ %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }) %>

<% include ../partials/footer %>
